---
layout: home
---

<section class="masthead">
  <h1 class="m-y-0">codyeatworld</h1>
  <p class="lead text-muted">{{ site.description }}</p>
  <ul class="list-inline m-b-0">
    {% for link in site.data.links %}
      <li>
        <a class="nav-item" href="{{ link.href }}">
          <div class="nav-emoji">
            {{ link.emoji }}
          </div>
          {{ link.title }}
        </a>
      </li>
    {% endfor %}
  </ul>
</section>

<section class="main">

  {% assign postsByYear = site.posts | group_by_exp:'post', "post.date | date: '%Y'" %}
  {% for year in postsByYear %}
    <h5>{{ year.name }}</h5>
    {% for post in year.items %}
    <p>
      <a class="text-bold" href="{{ post.url }}">{{ post.title }}</a>
      <span class="text-muted">&mdash; {{ post.date | date_to_string }}</span>
      <br />
      {{ post.description }}
    </p>
    {% endfor %}
  {% endfor %}
</section>
